{% extends "layout2.html" %} {% block body %}
<div id="links">
    <h3><p>The <a href="http://www.nationaleatingdisorders.org/">National Eating Disorders Association</a> provides many resources and hotlines to contact for help for people struggling with eating disorders, unhealthy relationships with food, or people who know others who do.<br></p>
        <p>Toll free, confidential helpline: 1-800-931-2237</p> Crisis Text Help: text 'NEDA' to 741741 for a trained volunteer's help</h3>
    <h3><a href="http://www.nationaleatingdisorders.org/helplinechat">Instant messaging option helpline</a> for those who prefer online messaging over talking over the phone Similar sites also provide similar resources:</h3>
    <li><a href="https://www.eatingdisorderhope.com/">Eating Disorder Hope</a></li>
    <li><a href="https://www.eatingrecoverycenter.com/resources/">Eating Recovery Center</a></li>
    <li><a href="http://www.bulimia.com/">Bulimia</a></li>
    <li><a href="http://bedaonline.com/">Binge Eating Disorder Association</a></li>
    <li><a href="http://edrcsv.org/">Eating Disorder Resource Center</a></li>
    <li><a href="https://www.anred.com/">Anorexia Nervosa & Related Eating Disorders</a></li>
</div>
{% endblock %}
